body {
    font-family: Sans-serif;
}

h2 {
    padding-left: 5px;
}

#status {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 60px;
    display: none;
}

#detailViewAction {
    min-height: 60px;
    margin-left: 20px;
    vertical-align: middle;
}

#treeView {
    margin-left: 20px;
}

#detailViewSample {
    margin-left: 20px;
}

#detailViewAttachments {
    margin-left: 20px;
    margin-bottom: 10px;
}

#detailView {
    margin-left: 20px;
    padding-top: 20px;
}
