body {
    font-family: Sans-serif;
}

#detailViewContainer {
}

#detailViewAction {
    min-height: 60px;
    vertical-align: middle;
}

#treeView {
}
          
#detailViewSample {
}

#detailView {
}
